.pokemon-sprite {
    width: 40vw;
    height: 15vh;
}

.card-pokemon {
    min-height: 35vh;
    height: 35vh;
    border-radius: 5vw;
    border: 0.5vw solid; 
}

.ion-chip {
    padding: 1vh 5vw !important;
    color: #000;
    font-weight: 700;
    --color: #000;
}