<ion-header>
  <ion-toolbar>
    <ion-title>
      Pokedex Ionic
    </ion-title>
  </ion-toolbar>
  <ion-searchbar
    mode="ios" 
    showClearButton="focus"
    (ionChange)="search($event)"
    [debounce]="1000"
    inputmode="search"
    >
    </ion-searchbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-row>
      <ion-col *ngFor="let pokemon of pokemons" size="6">
        <app-card-pokemon [pokemon]="pokemon"></app-card-pokemon>
      </ion-col> 
    </ion-row>
  </ion-list>
  <ion-infinite-scroll threshold="1%" (ionInfinite)="moreData($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
